//fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

//fadeSlideTop
.fade-slide-top-enter-active,
.fade-slide-top-leave-active {
  transition: 0.1s;
}

.fade-slide-top-enter,
.fade-slide-top-leave-to {
  transform: translateY(30px);
  opacity: 0;
}
